<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/phone.css"media="(max-width:767px)">
    <link rel="stylesheet" href="./css/ipad.css"media="(min-width:768px)">
    <link rel="stylesheet" href="./css/index.css"media="(min-width:1025px)">
    <link rel="stylesheet" href="./css/print.css"media="print">
    <title>余韵之丨前端工程师</title>
</head>
<body>

    <div class="page" id="app">
        <button class="buttonsss"v-on:click="xxx" v-cloak>1111</button>
        <main v-cloak>
            <div class="resume">

                <section class="info" v-cloak>
                    <div class="infoShow">
                        <div class="name">
                            <h1>{{displayresume.info.name}}</h1>
                            <p>求职岗位：<span>{{displayresume.info.job}}</span></p>
                        </div>

                        <div class="splitLine personalInformation"v-cloak>
                            <p><strong>{{line.information}}</strong></p>
                            <div class="outLine">
                                <div class="inLine"></div>
                            </div>
                        </div>
                
                        <div class="infomation">
                            <div class="iconAndContent">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-icon_naturalpersons"></use>
                                </svg> 
                                <span class="content">{{displayresume.info.age}}</span>
                            </div>
                            <div class="iconAndContent">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-phone"></use>
                                </svg> 
                                <span class="content">{{displayresume.info.telephone}}</span>
                            </div>
                            <div class="iconAndContent">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-email"></use>
                                </svg> 
                                <span class="content">{{displayresume.info.email}}</span>
                            </div>
                            <div class="iconAndContent">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-wechat1"></use>
                                </svg> 
                                <span class="content">{{displayresume.info.wechat}}</span>
                            </div>
                            <div class="iconAndContent">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-school2"></use>
                                </svg>
                                <span class="content">{{displayresume.info.school}}</span>
                            </div>
                        </div>
                    </div> 
                </section> 

                <div class="splitLine">
                    <p><strong>{{line.projects}}</strong></p>
                    <div class="outLine">
                        <div class="inLine"></div>
                    </div>
                </div>

                <section class="projects">
                    <ul v-cloak>
                        <li class="oneProject" v-for="(project,index) in displayresume.projects">
                            <div class="projectShow">
                                <header class="pictureAndLink">
                                    <img class="projectPicture"v-bind:src="project.imgLink" alt="project picture">
                                    <aside class="projectLink">
                                        <div class="links">
                                            <svg class="icon" aria-hidden="true">
                                                <use xlink:href="#icon-insertlink"></use>
                                            </svg> 
                                            <a v-bind:href="project.previewLink" target="_blank">预览链接</a>
                                        </div>  
                                        <div class="links">
                                            <svg class="icon" aria-hidden="true">
                                                <use xlink:href="#icon-insertlink"></use>
                                            </svg> 
                                            <a v-bind:href="project.sourceLink"target="_blank">源码链接</a>
                                        </div>  
                                        <div class="links">
                                            <svg class="icon" aria-hidden="true">
                                                <use xlink:href="#icon-blog1"></use>
                                            </svg> 
                                            <a v-bind:href="project.blogLink"target="_blank">博客链接</a>
                                        </div>                                 
                                    </aside>
                                </header>
                                <section class="content"> 
                                    <div class="projectName project">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-ic_tabbar_planproject"></use>
                                        </svg> 
                                        <span><strong>名称:</strong>{{project.name}}</span>
                                    </div>

                                    <div class="projectKey project">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-keyword"></use>
                                        </svg> 
                                        <span><strong>技术:</strong>{{project.useSkill}}</span>
                                    </div>

                                    <div class="projectDescribe project">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-xie"></use>
                                        </svg> 
                                        <span><strong>描述:</strong>{{project.describe}}</span>
                                    </div>
                
                                </section>
                            </div>
                        </li>
                    </ul>
                                
                </section>

                <div class="splitLine">
                    <p><strong>{{line.skills}}</strong></p>
                    <div class="outLine">
                        <div class="inLine"></div>
                    </div>
                </div>               

                <section class="skills" v-cloak>
                    <ul>
                        <li v-for="(skill,index) in displayresume.skills">
                            <div class="skillShow">
                                <span class="skillName">
                                    <span class="name">{{skill.name}}</span>
                                </span>
                                <span class="skillDescribe">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{skill.describe}}</span>
                            </div>
                        </li>
                    </ul>
            </section>

            <div class="splitLine">
                <p><strong>{{line.stateself}}</strong></p>
                <div class="outLine">
                    <div class="inLine"></div>
                </div>
            </div>

            
            <section class="statement">
                <div class="statementShow" v-cloak>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>{{displayresume.statement.content}}</span></p>
                </div>
            </section>

            </div>            
        </main>
    </div>


    <script src="//at.alicdn.com/t/font_732075_qdqpxixzkro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./line.js"></script>
    <script src="./root.js"></script>
</body>
</html>