
*{margin:0;padding:0;box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
a,ul,ol,button{list-style: none;text-decoration: none;color:inherit;}

body{
    background:rgb(195,188,178);
    font-size:14px;
}

.page{
    margin:0 auto;
    width:1100px;
    height:1600px;
    position: relative;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

[v-cloak]{
    display: none;
}


/**
resume***/
main{
    width:815px;
    background:rgb(246,246,246);
    position: absolute;
    margin:60px 0;
    left:50%;
    top:-50px;
    transform: translateX(-50%)
}

.resume{
    width:685px;
    position: relative;
    top:0;
    left:50%;
    transform: translateX(-50%);
    margin:50px 0;
}

.resume .info{
    width:648px;
    height:116px;
}

.infoShow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px 0;
}

.infoShow .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.infoShow .name h1{
    font-size:36px;
    margin-bottom:8px;
}
.infoShow .infomation{
    margin-left:60px;
}
.infoShow .infomation .iconAndContent{
    font-size:14px;
    display: flex;
    flex-direction: row;
    margin:2px 0;
}

.infoShow .infomation .icon{
    margin-right:10px;
    margin-top:2px;

}

.statementShow p{
    width:100%;
    margin-bottom: 10px;
}
.oneProject .projectShow{
    border:1px dashed #888;
    margin-bottom:10px;
    padding: 10px 0;
}
.projectShow .pictureAndLink{
    display: flex;
    justify-content: space-around;
}

.projectShow .pictureAndLink .projectLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectShow .pictureAndLink .projectLink .links{
    margin:15px 0;
}


.projectShow .pictureAndLink .projectLink .links a:hover{
    color:blue;
}

.projectShow .projectPicture{
    width:520px;
    height:281px;
    position: relative;
    margin-bottom:15px;
}
.projectShow .content{
    position: relative;
    top:0;
    left:50%;
    transform: translateX(-50%);
    padding:0 20px;
}
.projectShow .content .project{
    margin:5px 0;
}

.projectShow .content strong{
    padding-right:5px;
}


.projectShow .projectDescribe{
    width:100%;
    margin-bottom: 16px;
}

.skills ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills ul li{
    width:49%;
}
.skillShow .skillName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skillShow .skillName .name{
    font-weight: bold;
}

.skillShow .skillDescribe{
    display: block;
    height:80px;
    margin-top: 6px;
    overflow:hidden;
}

.skillShow{
    border:1px dashed #888;
    margin-bottom:15px;
}

