
*{margin:0;padding:0;box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
a,ul,ol,button{list-style: none;color:inherit;outline:none;}

body{
    background:rgb(195,188,178);
    font-size:14px;
}

.page{
    margin:0 auto;
    width:1100px;
    height:1600px;
    position: relative;
}

.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

[v-cloak]{
    display: none;
}


/**
resume***/
main{
    width:815px;
    height:1480px;
    background:rgb(246,246,246);
    position: absolute;
    margin:60px 0;
    left:50%;
    top:-50px;
    transform: translateX(-50%)
}

.resume{
    width:685px;
    height:950px;
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
}

.resume .info{
    width:648px;
    height:116px;
}

.infoShow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px 0;
}

.infoShow .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.infoShow .name h1{
    font-size:28px;
    margin-bottom:5px;
}
.infoShow .infomation{
    margin-left:60px;
}
.infoShow .infomation .iconAndContent{
    font-size:14px;
    display: flex;
    flex-direction: row;
    margin:2px 0;
}

.infoShow .infomation .icon{
    margin-right:10px;
    margin-top:2px;

}

.statementShow p{
    width:100%;
}

.projectShow .pictureAndLink{
    display: flex;
    justify-content: space-around;
}

.projectShow .pictureAndLink .projectLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectShow .pictureAndLink .projectLink .links{
    margin:15px 0;
}


.projectShow .pictureAndLink .projectLink .links a:hover{
    color:blue;
}

.projectShow .projectPicture{
    width:520px;
    height:281px;
    position: relative;
    margin-bottom:18px;
}
.projectShow .projectName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:6px;
}

.projectShow .projectName p:nth-child(2){
    font-size:14px;
    font-weight: bold;
}

.projectShow .projectName p:nth-child(1){
    font-size:14px;
    font-weight: bold;
}

.projectShow .projectName a{
    cursor: pointer;
}

.projectShow .projectName a:hover{
    color:blue;
}

.projectShow .projectDescribe{
    width:100%;
    margin-bottom: 16px;
}

.skills ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skillShow .skillName{
    display: flex;
    flex-direction: row;
    width:315px;
    justify-content: space-between;
}

.skillShow .skillName .name{
    font-weight: bold;
}

.skillShow .skillDescribe{
    display: block;
    width:315px;
    height:80px;
    margin-top: 6px;
    overflow:hidden;
}

.skillShow{
    border:1px dashed #888;
    margin-bottom:15px;
}

