
main .splitLine p{
    margin-bottom:6px;
    margin-top:18px;
    font-size: 14px;
}
main .splitLine .outLine{
    border-top:3px solid rgb(222,222,222);
    width:100%;
    position: relative;
    margin-bottom:18px;
}

main .splitLine .inLine{
    border-top:2px solid rgb(32,32,32);
    width:8%;
    position: absolute;
    bottom:0px;
    left:0;    
}